Imports and Connection to SSMS database

In [1]:
import warnings
warnings.simplefilter('ignore')

import pyodbc
import pandas as pd
import sqlite3

server = 'LAPTOP-8R8HAJSC\\SQLEXPRESS01'
source_db = 'United Outdoors Source'
northwind_db = 'NorthWind'

source_connectionString = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={source_db};Trusted_Connection=yes;'
northwind_connectionString = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={northwind_db};Trusted_Connection=yes;'

source_connection = pyodbc.connect(source_connectionString)
northwind_connection = pyodbc.connect(northwind_connectionString)

Code to delete all data from the tables

In [2]:
cursor = source_connection.cursor()

# Get the list of tables in the database
cursor.execute("SELECT name FROM sys.tables")
tables = cursor.fetchall()

# Disable foreign key constraints
cursor.execute("EXEC sp_MSforeachtable \"ALTER TABLE ? NOCHECK CONSTRAINT ALL\"")
source_connection.commit()

# Loop through the tables and delete from each one
for table in tables:
    table_name = table[0]  # Get table name from tuple
    print(f"Deleting from table: {table_name}")
    cursor.execute(f"DELETE FROM {table_name}")
    source_connection.commit()

# Enable foreign key constraints again
cursor.execute("EXEC sp_MSforeachtable \"ALTER TABLE ? WITH CHECK CHECK CONSTRAINT ALL\"")
source_connection.commit()

Deleting from table: Purchasing_Vendor
Deleting from table: Purchasing_PurchaseOrderHeader
Deleting from table: Purchasing_PurchaseOrderDetail
Deleting from table: Territory
Deleting from table: EmployeeTerritories
Deleting from table: Department
Deleting from table: Bonus
Deleting from table: State
Deleting from table: Employee
Deleting from table: Shippers
Deleting from table: Customer
Deleting from table: Orders
Deleting from table: Order_Details
Deleting from table: Sales_Order
Deleting from table: Sales_Order_Item
Deleting from table: Categories
Deleting from table: Production_ProductCategory
Deleting from table: Products
Deleting from table: Product
Deleting from table: Production_BillOfMaterials
Deleting from table: Sales_SalesTerritory
Deleting from table: Sales_Customer
Deleting from table: Sales_Store
Deleting from table: Sales_SalesOrderHeader
Deleting from table: Sales_SalesOrderDetail
Deleting from table: HumanResources_Department
Deleting from table: HumanResources_Employee
Deleting from table: Person_Person
Deleting from table: Person_Address

Creating Dataframes from reading data from files

In [ ]:
#Dataframes from aenc.sqlite
aenc_connection = sqlite3.connect('Data\\aenc.sqlite')
sqlite_cursor = aenc_connection.cursor()

bonus_df = pd.read_sql_query('SELECT * FROM Bonus', aenc_connection)
customer_df = pd.read_sql_query('SELECT * FROM Customer', aenc_connection)
department_df = pd.read_sql_query('SELECT * FROM Department', aenc_connection)
employee_df = pd.read_sql_query('SELECT * FROM Employee', aenc_connection)
product_df = pd.read_sql_query('SELECT * FROM Product', aenc_connection)
sales_order_df = pd.read_sql_query('SELECT * FROM Sales_Order', aenc_connection)
sales_order_item_df = pd.read_sql_query('SELECT * FROM Sales_Order_Item', aenc_connection)
state_df = pd.read_sql_query('SELECT * FROM State', aenc_connection)

#Dataframes from NorthWind.txt
sqlite_cursor = northwind_connection.cursor()

categories_df = pd.read_sql_query('SELECT * FROM Categories', northwind_connection)
customer_customer_demo_df = pd.read_sql_query('SELECT * FROM CustomerCustomerDemo', northwind_connection)
customer_demographics_df = pd.read_sql_query('SELECT * FROM CustomerDemographics', northwind_connection)
customers_df = pd.read_sql_query('SELECT * FROM Customers', northwind_connection)
employees_df = pd.read_sql_query('SELECT * FROM Employees', northwind_connection)
employee_territories_df = pd.read_sql_query('SELECT * FROM EmployeeTerritories', northwind_connection)
order_details_df = pd.read_sql_query('SELECT * FROM "Order Details"', northwind_connection)
orders_df = pd.read_sql_query('SELECT * FROM Orders', northwind_connection)
products_df = pd.read_sql_query('SELECT * FROM Products', northwind_connection)
region_df = pd.read_sql_query('SELECT * FROM Region', northwind_connection)
shippers_df = pd.read_sql_query('SELECT * FROM Shippers', northwind_connection)
suppliers_df = pd.read_sql_query('SELECT * FROM Suppliers', northwind_connection)
territories_df = pd.read_sql_query('SELECT * FROM Territories', northwind_connection)

#Dataframes from AdventureWorks.ldb

#hier

Loops

In [15]:

#___________________________________________________________________________________________________________________________________
#aenc.sqlite

for index, row in department_df.iterrows():

    try:
        query = f"INSERT INTO Department VALUES({row['dept_id']}, '{row['dept_name']}', {row['dept_head_id']})"
        source_connection.execute(query)

    except pyodbc.Error:
        print(query)

    source_connection.commit()

for index, row in bonus_df.iterrows():

    try:
        query = f"INSERT INTO Bonus VALUES({row['emp_id']}, '{row['bonus_date']}', {row['bonus_amount']})"
        source_connection.execute(query)

    except pyodbc.Error:
        print(query)

    source_connection.commit()

for index, row in state_df.iterrows():

    try:
        query = f"INSERT INTO State VALUES('{row['state_id']}', '{row['state_name']}', '{row['state_capital']}', '{row['country']}, '{row['region']}')"
        source_connection.execute(query)

    except pyodbc.Error:
        print(query)

    source_connection.commit()

for index, row in employee_df.iterrows():

    try:
        query = f"INSERT INTO Employee VALUES({row['emp_id']}, {row['manager_id']}, '{row['emp_fname']}', '{row['emp_lname']}, {row['dept_id']}, '{row['street']}', '{row['city']}', '{row['state']}', {row['zip_code']}, {row['phone']}, '{row['status']}', {row['ss_number']}, {row['salary']}, {row['start_date']}, {row['birth_date']}, '{row['bene_health_ins']}', '{row['bene_life_ins']}', '{row['bene_day_care']}', '{row['sex']}')"
        source_connection.execute(query)

    except pyodbc.Error:
        print(query)

    source_connection.commit()

for index, row in customer_df.iterrows():

    try:
        query = f"INSERT INTO Customer VALUES({row['id']}, '{row['fname']}', '{row['lname']}', '{row['address']}', '{row['city']}', '{row['state']}', {row['zip']}, {row['phone']}, '{row['company_name']}')"
        source_connection.execute(query)

    except pyodbc.Error:
        print(query)

    source_connection.commit()

for index, row in sales_order_df.iterrows():

    try:
        query = f"INSERT INTO Sales_Order VALUES({row['id']}, {row['cust_id']}, '{row['order_date']}', '{row['region']}, '{row['sales_rep']}')"
        source_connection.execute(query)

    except pyodbc.Error:
        print(query)

    source_connection.commit()
    
for index, row in sales_order_item_df.iterrows():

    try:
        query = f"INSERT INTO Sales_Order_Item VALUES({row['id']}, {row['line_id']}, {row['prod_id']}, {row['quantity']}, '{row['ship_date']}')"
        source_connection.execute(query)

    except pyodbc.Error:
        print(query)

    source_connection.commit()

for index, row in product_df.iterrows():

    try:
        query = f"INSERT INTO Product VALUES({row['id']}, '{row['name']}', '{row['description']}', '{row['prod_size']}', '{row['color']}', {row['quantity']}, {row['unit_price']}, '{row['picture_name']}', '{row['Category']}')"
        source_connection.execute(query)

    except pyodbc.Error:
        print(query)

    source_connection.commit()

INSERT INTO Department VALUES(100, 'R & D', 501)
INSERT INTO Department VALUES(200, 'Sales', 902)
INSERT INTO Department VALUES(300, 'Finance', 1293)
INSERT INTO Department VALUES(400, 'Marketing', 1576)
INSERT INTO Department VALUES(500, 'Shipping', 703)
INSERT INTO Bonus VALUES(129, '31-dec-24', 50)
INSERT INTO Bonus VALUES(195, '31-dec-23', 50)
INSERT INTO Bonus VALUES(299, '31-dec-23', 200)
INSERT INTO Bonus VALUES(1142, '31-dec-23', 100)
INSERT INTO Bonus VALUES(129, '31-dec-22', 50)
INSERT INTO Bonus VALUES(129, '31-dec-23', 250)
INSERT INTO Bonus VALUES(129, '31-dec-24', 400)
INSERT INTO Bonus VALUES(195, '31-dec-22', 0)
INSERT INTO Bonus VALUES(195, '31-dec-23', 450)
INSERT INTO Bonus VALUES(195, '31-dec-24', 100)
INSERT INTO Bonus VALUES(299, '31-dec-22', 250)
INSERT INTO Bonus VALUES(299, '31-dec-23', 850)
INSERT INTO Bonus VALUES(299, '31-dec-24', 650)
INSERT INTO Bonus VALUES(467, '31-dec-22', 150)
INSERT INTO Bonus VALUES(467, '31-dec-23', 300)
INSERT INTO Bonus VALUES(467, '31-dec-24', 300)
INSERT INTO Bonus VALUES(667, '31-dec-22', 100)
INSERT INTO Bonus VALUES(667, '31-dec-23', 300)
INSERT INTO Bonus VALUES(667, '31-dec-24', 350)
INSERT INTO Bonus VALUES(690, '31-dec-22', 50)
INSERT INTO Bonus VALUES(690, '31-dec-23', 450)
INSERT INTO Bonus VALUES(690, '31-dec-24', 200)
INSERT INTO Bonus VALUES(856, '31-dec-22', 200)
INSERT INTO Bonus VALUES(856, '31-dec-23', 350)
INSERT INTO Bonus VALUES(856, '31-dec-24', 300)
INSERT INTO Bonus VALUES(902, '31-dec-22', 200)
INSERT INTO Bonus VALUES(902, '31-dec-23', 200)
INSERT INTO Bonus VALUES(902, '31-dec-24', 100)
INSERT INTO Bonus VALUES(949, '31-dec-22', 100)
INSERT INTO Bonus VALUES(949, '31-dec-23', 300)
INSERT INTO Bonus VALUES(949, '31-dec-24', 250)
INSERT INTO Bonus VALUES(1142, '31-dec-22', 50)
INSERT INTO Bonus VALUES(1142, '31-dec-23', 400)
INSERT INTO Bonus VALUES(1142, '31-dec-24', 300)
INSERT INTO Bonus VALUES(1596, '31-dec-22', 50)
INSERT INTO Bonus VALUES(1596, '31-dec-23', 500)
INSERT INTO Bonus VALUES(1596, '31-dec-24', 250)
INSERT INTO State VALUES('AB', 'Alberta', 'Edmonton', 'CAN, 'Canada')
INSERT INTO State VALUES('AK', 'Alaska', 'Juneau', 'USA, 'Western')
INSERT INTO State VALUES('AL', 'Alabama', 'Montgomery', 'USA, 'South')
INSERT INTO State VALUES('AR', 'Arkansas', 'Little Rock', 'USA, 'South')
INSERT INTO State VALUES('AZ', 'Arizona', 'Phoenix', 'USA, 'Western')
INSERT INTO State VALUES('BC', 'British Columbia', 'Victoria', 'CAN, 'Canada')
INSERT INTO State VALUES('CA', 'California', 'Sacramento', 'USA, 'Western')
INSERT INTO State VALUES('CO', 'Colorado', 'Denver', 'USA, 'Central')
INSERT INTO State VALUES('CT', 'Connecticut', 'Hartford', 'USA, 'Eastern')
INSERT INTO State VALUES('DC', 'District of Columbia', 'Washington', 'USA, 'Eastern')
INSERT INTO State VALUES('DE', 'Delaware', 'Dover', 'USA, 'Eastern')
INSERT INTO State VALUES('FL', 'Florida', 'Tallahassee', 'USA, 'South')
INSERT INTO State VALUES('GA', 'Georgia', 'Atlanta', 'USA, 'South')
INSERT INTO State VALUES('HI', 'Hawaii', 'Honolulu', 'USA, 'Western')
INSERT INTO State VALUES('IA', 'Iowa', 'Des Moines', 'USA, 'Central')
INSERT INTO State VALUES('ID', 'Idaho', 'Boise', 'USA, 'Western')
INSERT INTO State VALUES('IL', 'Illinois', 'Springfield', 'USA, 'Central')
INSERT INTO State VALUES('IN', 'Indiana', 'Indianapolis', 'USA, 'Central')
INSERT INTO State VALUES('KS', 'Kansas', 'Topeka', 'USA, 'Central')
INSERT INTO State VALUES('KY', 'Kentucky', 'Frankfort', 'USA, 'Central')
INSERT INTO State VALUES('LA', 'Louisiana', 'Baton Rouge', 'USA, 'South')
INSERT INTO State VALUES('MA', 'Massachusetts', 'Boston', 'USA, 'Eastern')
INSERT INTO State VALUES('MB', 'Manitoba', 'Winnipeg', 'CAN, 'Canada')
INSERT INTO State VALUES('MD', 'Maryland', 'Annapolis', 'USA, 'Eastern')
INSERT INTO State VALUES('ME', 'Maine', 'Augusta', 'USA, 'Eastern')
INSERT INTO State VALUES('MI', 'Michigan', 'Lansing', 'USA, 'Central')
INSERT INTO State VALUES('MN', 'Minnesota', 'St. Paul', 'USA, 'Central')
INSERT INTO State VALUES('MO', 'Missouri', 'Jefferson City', 'USA, 'Central')
INSERT INTO State VALUES('MS', 'Mississippi', 'Jackson', 'USA, 'South')
INSERT INTO State VALUES('MT', 'Montana', 'Helena', 'USA, 'Central')
INSERT INTO State VALUES('NB', 'New Brunswick', 'Fredericton', 'CAN, 'Canada')
INSERT INTO State VALUES('NC', 'North Carolina', 'Raleigh', 'USA, 'Eastern')
INSERT INTO State VALUES('ND', 'North Dakota', 'Bismarck', 'USA, 'Central')
INSERT INTO State VALUES('NE', 'Nebraska', 'Lincoln', 'USA, 'Central')
INSERT INTO State VALUES('NF', 'Newfoundland', 'St. John's', 'CAN, 'Canada')
INSERT INTO State VALUES('NH', 'New Hampshire', 'Concord', 'USA, 'Eastern')
INSERT INTO State VALUES('NJ', 'New Jersey', 'Trenton', 'USA, 'Eastern')
INSERT INTO State VALUES('NM', 'New Mexico', 'Santa Fe', 'USA, 'Western')
INSERT INTO State VALUES('NS', 'Nova Scotia', 'Halifax', 'CAN, 'Canada')
INSERT INTO State VALUES('NT', 'Northwest Territories', 'Yellowknife', 'CAN, 'Canada')
INSERT INTO State VALUES('NV', 'Nevada', 'Carson City', 'USA, 'Western')
INSERT INTO State VALUES('NY', 'New York', 'Albany', 'USA, 'Eastern')
INSERT INTO State VALUES('OH', 'Ohio', 'Columbus', 'USA, 'Central')
INSERT INTO State VALUES('OK', 'Oklahoma', 'Oklahoma City', 'USA, 'Central')
INSERT INTO State VALUES('ON', 'Ontario', 'Toronto', 'CAN, 'Canada')
INSERT INTO State VALUES('OR', 'Oregon', 'Salem', 'USA, 'Western')
INSERT INTO State VALUES('PA', 'Pennsylvania', 'Harrisburg', 'USA, 'Eastern')
INSERT INTO State VALUES('PE', 'Prince Edward Island', 'Charlottetown', 'CAN, 'Canada')
INSERT INTO State VALUES('PQ', 'Québec', 'Québec', 'CAN, 'Canada')
INSERT INTO State VALUES('RI', 'Rhode Island', 'Providence', 'USA, 'Eastern')
INSERT INTO State VALUES('SC', 'South Carolina', 'Columbia', 'USA, 'Eastern')
INSERT INTO State VALUES('SD', 'South Dakota', 'Pierre', 'USA, 'Central')
INSERT INTO State VALUES('SK', 'Saskatchewan', 'Regina', 'CAN, 'Canada')
INSERT INTO State VALUES('TN', 'Tennessee', 'Nashville', 'USA, 'Central')
INSERT INTO State VALUES('TX', 'Texas', 'Austin', 'USA, 'South')
INSERT INTO State VALUES('UT', 'Utah', 'Salt Lake City', 'USA, 'Western')
INSERT INTO State VALUES('VA', 'Virginia', 'Richmond', 'USA, 'Eastern')
INSERT INTO State VALUES('VT', 'Vermont', 'Montpelier', 'USA, 'Eastern')
INSERT INTO State VALUES('WA', 'Washington', 'Olympia', 'USA, 'Western')
INSERT INTO State VALUES('WI', 'Wisconsin', 'Madison', 'USA, 'Central')
INSERT INTO State VALUES('WV', 'West Virginia', 'Charleston', 'USA, 'Eastern')
INSERT INTO State VALUES('WY', 'Wyoming', 'Cheyenne', 'USA, 'Western')
INSERT INTO State VALUES('YT', 'Yukon Territory', 'Whitehorse', 'CAN, 'Canada')
INSERT INTO Employee VALUES(1013, 703, 'Joseph', 'Barker, 500, '58 West Drive', 'Bedford', 'MA', 1730, 6175558021, 'A', 23470756, 27290.0, 10-Sep-2019, 14-Feb-1996, 'N', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(102, 501, 'Fran', 'Whitney, 100, '49 East Washington Street', 'Needham', 'MA', 2192, 6175553985, 'A', 17349033, 45700.0, 26-Feb-2013, 05-Jun-1985, 'Y', 'Y', 'N', 'F')
INSERT INTO Employee VALUES(1021, 902, 'Paul', 'Sterling, 200, '112 Endicott Street', 'Concord', 'MA', 1742, 5085550295, 'A', 37846595, 64900.0, 28-Oct-2019, 27-Feb-1977, 'Y', 'Y', 'Y', 'M')
INSERT INTO Employee VALUES(1039, 902, 'Shih Lin', 'Chao, 200, '59 Holyoke Street', 'Lexington', 'MA', 2173, 6175555921, 'A', 46973741, 33890.0, 11-Nov-2019, 12-Dec-1996, 'N', 'Y', 'Y', 'M')
INSERT INTO Employee VALUES(105, 501, 'Matthew', 'Cobb, 100, '77 Pleasant Street', 'Waltham', 'MA', 2154, 6175553840, 'A', 52345739, 62000.0, 02-Jul-2013, 04-Dec-1987, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(1062, 1576, 'Barbara', 'Blaikie, 400, '66 Beaumont Terrace', 'Needham', 'MA', 2192, 6175559345, 'A', 19887257, 54900.0, 20-Nov-2019, 14-Nov-1980, 'Y', 'Y', 'Y', 'F')
INSERT INTO Employee VALUES(1090, 501, 'Susan', 'Smith, 100, '177 Johnson Street', 'Houston', 'TX', 77079, 7135556613, 'A', 13558813, 51411.0, 13-Dec-2019, 30-Nov-1977, 'N', 'Y', 'Y', 'F')
INSERT INTO Employee VALUES(1101, 902, 'Mark', 'Preston, 200, '49 Constitution Road', 'Boston', 'MA', 2124, 6175555862, 'A', 27663454, 37803.0, 09-Jan-2020, 14-Sep-1993, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(1142, 902, 'Alison', 'Clark, 200, '56 Carver Street', 'Emeryville', 'CA', 94608, 5105559437, 'A', 55913622, 45000.0, 19-Jan-2020, 04-May-1984, 'N', 'Y', 'Y', 'F')
INSERT INTO Employee VALUES(1157, 501, 'Hing', 'Soo, 100, '19 Glenmeadow Street', 'Needham', 'MA', 2192, 6175558748, 'A', 23434587, 39075.0, 29-Jan-2020, 07-Mar-1997, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(1162, 902, 'Kevin', 'Goggin, 200, '12 Wachusett Road', 'Wellesley', 'MA', 2181, 6175553785, 'A', 75679377, 37900.0, 03-Feb-2020, 18-Apr-1979, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(1191, 1576, 'Matthew', 'Bucceri, 400, '57 Taylor Place', 'Lexington', 'MA', 2173, 6175555336, 'A', 23749270, 45900.0, 12-Feb-2020, 19-Nov-1971, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(1250, 501, 'Emilio', 'Diaz, 100, '112 Evergreen Street', 'Wellesley', 'MA', 2181, 6175553567, 'A', 23476492, 54900.0, 17-Feb-2020, 02-Jan-1963, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(129, 902, 'Philip', 'Chin, 200, '59 Pond Street', 'Atlanta', 'GA', 30339, 4045552341, 'A', 24608923, 38500.0, 04-Aug-2024, 30-Oct-1993, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(1293, 1293, 'Mary Anne', 'Shea, 300, '197 Camden Road', 'Lexington', 'MA', 2173, 6175554616, 'A', 19641485, 138948.0, 01-Mar-2020, 13-Mar-1982, 'Y', 'Y', 'N', 'F')
INSERT INTO Employee VALUES(1336, 1293, 'Janet', 'Bigelow, 300, '84 Lunda Street', 'Waltham', 'MA', 2154, 6175551493, 'A', 17326112, 31200.0, 25-Aug-2021, 21-Jul-1977, 'Y', 'Y', 'Y', 'F')
INSERT INTO Employee VALUES(1390, 1293, 'Jennifer', 'Litton, 300, '17 Downing Street', 'Concord', 'MA', 1742, 5085553495, 'A', 34786565, 58930.0, 05-Oct-2021, 05-Apr-1975, 'N', 'Y', 'N', 'F')
INSERT INTO Employee VALUES(1446, 902, 'Caroline', 'Yeung, 200, '52 Cypress Street', 'Atlanta', 'GA', 30339, 4045558347, 'A', 38475825, 32300.0, 29-Apr-2022, 21-Jun-1998, 'N', 'Y', 'N', 'F')
INSERT INTO Employee VALUES(148, 1293, 'Julie', 'Jordan, 300, '144 Great Plain Avenue', 'Winchester', 'MA', 1890, 6175557835, 'A', 501704733, 51432.0, 04-Oct-2023, 13-Dec-1978, 'Y', 'Y', 'N', 'F')
INSERT INTO Employee VALUES(1483, 1293, 'John', 'Letiecq, 300, '149 Vista Drive', 'Burlington', 'MA', 1803, 6175551167, 'L', 79372285, 75400.0, 30-Aug-2022, 27-Apr-1966, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(1507, 1576, 'Ruth', 'Wetherby, 400, '82 Aberdeen Road', 'Needham', 'MA', 2192, 6175555465, 'A', 35673688, 35745.0, 11-Oct-2022, 19-Jul-1986, 'Y', 'Y', 'N', 'F')
INSERT INTO Employee VALUES(1570, 703, 'Anthony', 'Rebeiro, 500, '39 Moody Street', 'Waltham', 'MA', 2154, 6175555737, 'A', 34576347, 34576.0, 27-Nov-2022, 12-Apr-1990, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(1576, 902, 'Scott', 'Evans, 400, '10-A Sunrise Circle', 'Concord', 'MA', 1742, 5085550096, 'A', 17429926, 68940.0, 30-Dec-2022, 15-Nov-1987, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(1596, 902, 'Catherine', 'Pickett, 200, '45 Appleton Road', 'Bedford', 'MA', 1730, 6175553478, 'T', 28375086, 47653.0, 10-Feb-2023, 18-Nov-1986, 'Y', 'Y', 'Y', 'F')
INSERT INTO Employee VALUES(160, 501, 'Robert', 'Breault, 100, '58 Cherry Street', 'Milton', 'MA', 2186, 6175553099, 'A', 25487623, 57490.0, 16-Dec-2013, 13-May-1974, 'Y', 'Y', 'Y', 'M')
INSERT INTO Employee VALUES(1607, 1576, 'Mark', 'Morris, 400, '1 Example Way', 'Waltham', 'MA', 2154, 6175558344, 'A', 501787474, 61300.0, 13-Apr-2023, 08-Jan-1968, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(1615, 703, 'Sheila', 'Romero, 500, '1 Oakview Terrace', 'Bedford', 'MA', 1730, 6175558138, 'A', 501175874, 27500.0, 20-May-2023, 12-Sep-1999, 'Y', 'Y', 'Y', 'F')
INSERT INTO Employee VALUES(1643, 1576, 'Elizabeth', 'Lambert, 400, '29 Union Street', 'Burlington', 'MA', 1803, 6175552357, 'A', 23857807, 29384.0, 15-Jun-2023, 12-Sep-1995, 'Y', 'Y', 'N', 'F')
INSERT INTO Employee VALUES(1658, 703, 'Michael', 'Lynch, 500, '76 Brookside Road', 'Waltham', 'MA', 2154, 6175558348, 'A', 23850840, 24903.0, 28-Aug-2023, 18-Jan-2000, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(1684, 1576, 'Janet', 'Hildebrand, 400, '47 Hilltop Street', 'Waltham', 'MA', 2154, 6175553845, 'A', 38957036, 45829.0, 13-Sep-2023, 31-Oct-1996, 'Y', 'Y', 'N', 'F')
INSERT INTO Employee VALUES(1740, 1576, 'Robert', 'Nielsen, 400, '55 Sargent Avenue', 'Bedford', 'MA', 1730, 6175558757, 'A', 37534650, 34889.0, 23-Dec-2023, 19-Jun-1992, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(1751, 1576, 'Alex', 'Ahmed, 400, '114 Cushing Street', 'Needham', 'MA', 2192, 6175558748, 'A', 32547384, 34992.0, 10-Jan-2024, 12-Dec-1990, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(184, 1576, 'Melissa', 'Espinoza, 400, '112 Apple Tree Way', 'Stow', 'MA', 1775, 5085552319, 'A', 25481943, 36490.0, 18-Apr-2014, 14-Dec-1966, 'Y', 'Y', 'N', 'F')
INSERT INTO Employee VALUES(191, 703, 'Jeannette', 'Bertrand, 500, '209 Concord Street', 'Acton', 'MA', 1720, 5085558138, 'A', 17348821, 32780.0, 20-May-2016, 21-Dec-1991, 'Y', 'Y', 'Y', 'F')
INSERT INTO Employee VALUES(195, 902, 'Marc', 'Dill, 200, '89 Hancock Street', 'Milton', 'MA', 2186, 6175552144, 'A', 79486634, 54800.0, 06-Jun-2014, 19-Jul-1990, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(207, 1576, 'Jane', 'Francis, 400, '12 Hawthorne Drive', 'Concord', 'MA', 1742, 5085559022, 'A', 501708992, 53870.0, 04-Aug-2021, 12-Sep-1998, 'Y', 'Y', 'N', 'F')
INSERT INTO Employee VALUES(243, 501, 'Natasha', 'Shishov, 100, '15 Milk Street', 'Waltham', 'MA', 2154, 6175552755, 'A', 43216799, 72995.0, 06-Dec-2014, 22-Apr-1976, 'Y', 'Y', 'N', 'F')
INSERT INTO Employee VALUES(247, 501, 'Kurt', 'Driscoll, 100, '154 School Street', 'Waltham', 'MA', 2154, 6175551234, 'L', 24601768, 48023.69, 30-Dec-2022, 05-Mar-1982, 'Y', 'Y', 'Y', 'M')
INSERT INTO Employee VALUES(249, 501, 'Rodrigo', 'Guevara, 100, 'East Main Street', 'Framingham', 'MA', 1701, 5085550029, 'A', 84329990, 42998.0, 01-Jan-2025, 23-Nov-1983, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(266, 501, 'Ram', 'Gowda, 100, '79 Page Street', 'Natick', 'MA', 1760, 5085558722, 'A', 17346122, 59840.0, 30-May-2017, 18-Oct-1974, 'N', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(278, 501, 'Terry', 'Melkisetian, 100, '87 Oxford Road', 'Watertown', 'MA', 2172, 6175555188, 'A', 87602311, 48500.0, 05-Jun-2015, 17-May-1993, 'Y', 'Y', 'Y', 'F')
INSERT INTO Employee VALUES(299, 902, 'Rollin', 'Overbey, 200, '1915 Companion Ct.', 'Emeryville', 'CA', 94608, 5105557255, 'A', 25487133, 39300.0, 19-Aug-2015, 15-Mar-1991, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(316, 501, 'Lynn', 'Pastor, 100, '14 Cricklewood Drive', 'Burlington', 'MA', 1803, 6175552001, 'A', 48667211, 74500.0, 24-Oct-2015, 14-Jul-1989, 'Y', 'Y', 'Y', 'F')
INSERT INTO Employee VALUES(318, 1576, 'John', 'Crow, 400, '531 Main Street', 'Watertown', 'MA', 2172, 6175553332, 'A', 79349168, 41700.75, 20-Nov-2015, 24-Apr-1989, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(390, 1293, 'Jo Ann', 'Davidson, 300, '27 Mount Vernon Road', 'Needham', 'MA', 2192, 6175553870, 'A', 27341657, 57090.0, 30-Nov-2015, 17-Feb-1984, 'N', 'Y', 'Y', 'F')
INSERT INTO Employee VALUES(409, 1576, 'Bruce', 'Weaver, 400, '19 Westmoreland Street', 'Lexington', 'MA', 2173, 6175554444, 'A', 48781192, 46550.0, 08-Dec-2015, 05-Apr-1973, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(445, 501, 'Kim', 'Lull, 100, '199 Lincoln Street', 'Concord', 'MA', 1742, 5085554444, 'A', 17508821, 87900.0, 13-Dec-2015, 19-Jan-2002, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(453, 501, 'Andrew', 'Rabkin, 100, '44 Birds Hill Way', 'Burlington', 'MA', 1803, 6175554444, 'A', 29458129, 64500.0, 13-Dec-2015, 10-Aug-1984, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(467, 902, 'James', 'Klobucher, 200, '18 Corning Street', 'Houston', 'TX', 77079, 7135558627, 'A', 34281032, 49500.0, 07-Jan-2016, 09-Nov-1979, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(479, 501, 'Linda', 'Siperstein, 100, '341 Hillside Avenue', 'Newton', 'MA', 2164, 6175556588, 'L', 22415639, 39875.5, 20-Jan-2016, 21-Sep-1994, 'Y', 'Y', 'N', 'F')
INSERT INTO Employee VALUES(501, 501, 'David', 'Scott, 100, '21 Riverdale Drive', 'Belmont', 'MA', 2178, 6175553246, 'A', 64983327, 96300.0, 01-Feb-2016, 01-Mar-1974, 'Y', 'Y', 'Y', 'M')
INSERT INTO Employee VALUES(529, 501, 'Dorothy', 'Sullivan, 100, '124 Minuteman Drive', 'Lexington', 'MA', 2173, 6175553947, 'A', 501324492, 67890.0, 03-Aug-2016, 19-Apr-1977, 'Y', 'Y', 'N', 'F')
INSERT INTO Employee VALUES(582, 501, 'Peter', 'Samuels, 100, '54 Woodlawn Street', 'Newton', 'MA', 2164, 6175558342, 'A', 38218867, 37400.0, 21-Sep-2016, 28-Feb-1995, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(586, 1293, 'James', 'Coleman, 300, '57 Heather Hill Drive', 'Acton', 'MA', 1720, 5085554735, 'L', 31281245, 42300.0, 04-Oct-2016, 04-Mar-1993, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(591, 1576, 'Irene', 'Barletta, 400, '37 Gleason Street', 'Bedford', 'MA', 1730, 6175558345, 'A', 56872399, 45450.0, 16-Jan-2017, 30-Jan-1984, 'Y', 'Y', 'Y', 'F')
INSERT INTO Employee VALUES(604, 501, 'Albert', 'Wang, 100, '48 Edwin Street', 'Waltham', 'MA', 2154, 6175558741, 'A', 23486621, 68400.0, 30-Mar-2017, 25-Dec-1985, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(641, 902, 'Thomas', 'Powell, 200, '48 Kennedy Court', 'Newton', 'MA', 2162, 6175551956, 'A', 38726633, 54600.0, 14-Apr-2017, 31-Oct-1978, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(667, 902, 'Mary', 'Garcia, 200, '98 Purvis Street', 'Houston', 'TX', 77079, 7135553431, 'A', 42706188, 39800.0, 23-May-2017, 23-Jan-1990, 'N', 'Y', 'Y', 'F')
INSERT INTO Employee VALUES(690, 902, 'Kathleen', 'Poitras, 200, '50 The Fenway', 'Boston', 'MA', 2118, 6175553920, 'A', 87236702, 46200.0, 29-May-2017, 29-Sep-1992, 'N', 'Y', 'N', 'F')
INSERT INTO Employee VALUES(703, 902, 'Jose', 'Martinez, 500, '123 Washington Street', 'Westwood', 'MA', 2090, 6175557114, 'A', 12896755, 61050.88, 01-Jun-2018, 22-Jul-1980, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(750, 703, 'Jane', 'Braun, 500, '45 Wood Street', 'Cambridge', 'MA', 2140, 6175557857, 'A', 12459381, 37730.0, 04-Jul-2018, 09-Aug-1966, 'Y', 'Y', 'N', 'F')
INSERT INTO Employee VALUES(757, 1293, 'Denis', 'Higgins, 300, '1033 Massachusetts Avenue', 'Lexington', 'MA', 2173, 6175553985, 'A', 67829311, 43700.0, 24-Aug-2018, 12-May-1995, 'Y', 'Y', 'N', 'F')
INSERT INTO Employee VALUES(839, 501, 'Dean', 'Marshall, 100, '44 Mount Pleasant Street', 'Belmont', 'MA', 2178, 6175553707, 'A', 34629123, 42500.0, 19-Oct-2018, 21-May-1993, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(856, 902, 'Samuel', 'Singer, 200, '187 Orchard Road', 'Stow', 'MA', 1775, 5085553255, 'A', 11349786, 34892.0, 30-Nov-2018, 07-Apr-1986, 'Y', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(862, 501, 'John', 'Sheffield, 100, '45 Belleview Drive', 'Houston', 'TX', 77079, 7135553877, 'A', 18458291, 87900.0, 14-Dec-2018, 25-Sep-1982, 'Y', 'Y', 'Y', 'M')
INSERT INTO Employee VALUES(868, 703, 'Felicia', 'Kuo, 500, '79 Oak Street', 'Cambridge', 'MA', 2140, 6175552385, 'A', 43592831, 28200.0, 10-Jan-2019, 24-Jul-1995, 'Y', 'Y', 'N', 'F')
INSERT INTO Employee VALUES(879, 1293, 'Kristen', 'Coe, 300, '30 Rainbow Road', 'West Roxbury', 'MA', 2132, 6175559192, 'A', 27581035, 36500.0, 16-Jan-2019, 11-Nov-1992, 'Y', 'Y', 'N', 'F')
INSERT INTO Employee VALUES(888, 1576, 'Doug', 'Charlton, 400, '57 Webster Street', 'Concord', 'MA', 1742, 5085559246, 'A', 36102935, 28300.0, 10-Mar-2019, 23-Jan-1993, 'N', 'Y', 'N', 'M')
INSERT INTO Employee VALUES(902, 1293, 'Judy', 'Snow, 200, '12 Fountain Road', 'Marblehead', 'MA', 1945, 5085553769, 'A', 15923467, 87500.0, 01-Apr-2019, 16-Aug-1977, 'Y', 'Y', 'N', 'F')
INSERT INTO Employee VALUES(913, 902, 'Ken', 'Martel, 200, '23 Lincoln Street', 'Needham', 'MA', 2192, 6175558474, 'A', 22783569, 55700.0, 16-Apr-2019, 23-Apr-1970, 'N', 'Y', 'N', 'M')